<head>
    <meta charset="utf-8">
    <style>
        body {
            margin: 0;
            padding: 1em;
            text-align: center;
        }

        section {
            border: 3px solid black;
            text-align: center;
        }
    </style>
</head>
<body>

    {% for k,v in data.iteritems() %}
        <section class="info"><pre>{{ k }} : {{ v }}</pre></section>
    {% endfor %}
        <br />
    {% for imglink in imgLinks %}
        <img class="info" src="{{ imglink }}" />
    {% endfor %}
</body>
</html>
